# Source files
src/
*.ts

# Tests
__tests__/
**/__tests__/
**/*.test.js
**/*.test.d.ts
jest.config.js

# Development files
.git/
.gitignore
.idea/
*.log

# Documentation
docs/
examples/

# Dependencies
node_modules/

# Build artifacts
tsconfig.json
**/*.map